Kyle Timmermans - Dr. Li - HW #4 - 04/01/2021

In [ ]:
# Begin with import statements
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [ ]:
df = pd.read_csv('http://storm.cis.fordham.edu/~ktimmermans/cosmetic_purchases.csv') # Load a .csv file into a DataFrame object
df['Blush'][1] = 0    # Extra '1' error for this specific index, no issue found in .csv file
df = df.apply(pd.to_numeric)  # Make all data numeric

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# Show list to make sure it matches original .csv file
df

    Trans.#  NailPolish  Brushes  ...  EyebrowPencils  Bag  Blush
0         1           1        1  ...               0    0      1
1         2           1        0  ...               0    0      0
2         3           0        0  ...               1    0      1
3         4           1        1  ...               0    0      0
4         5           0        0  ...               0    0      1
5         6           0        0  ...               0    0      0
6         7           1        1  ...               0    0      1
7         8           1        1  ...               0    0      0
8         9           0        0  ...               0    0      0
9        10           1        1  ...               0    1      1
10       11           1        0  ...               0    0      0
11       12           1        1  ...               0    0      0

[12 rows x 8 columns]

**Problem a)** Find all frequent itemsets from the above-given dataset subset with min_support as 30%. Please adopt Apriori algorithm (PPT. slide no.19) and show your steps.

In [ ]:
# Define Ck and Lk for apriori to work on (itemsets and support)
Ck = {1: ([[0],
       [1],
       [2],
       [3],
       [6]]), 2: ([[0, 1],
       [0, 2],
       [0, 3],
       [1, 2],
       [1, 3],
       [2, 3],
       [2, 6]]), 3: ([[0, 1, 2],
       [0, 1, 3],
       [0, 2, 3],
       [1, 2, 3]]), 4: ([[0, 1, 2, 3]])}

Lk = {1: ([0.66666667, 0.5       , 0.75      , 0.75      , 0.41666667]), 2: ([0.5       , 0.41666667, 0.58333333, 0.33333333, 0.41666667,
       0.58333333, 0.33333333]), 3: ([0.33333333, 0.41666667, 0.41666667, 0.33333333]), 4: ([0.33333333])}

L1 = []  # L1 = {frequent items}
for k in sorted(Ck):  # for(k=1;Lk!=empty_set;k++)
    support = pd.Series(support_dict[k])
    itemsets = pd.Series([frozenset(i) for i in Ck[k]], dtype='object')
    new = pd.concat((support, itemsets), axis=1)
    L1.append(new)
new_df = pd.concat(L1)
new_df.columns = ['support', 'itemsets']
mapping = {idx: item for idx, item in enumerate(df.columns)}  # For each candidates Ck+1 with min_support
new_df['itemsets'] = new_df['itemsets'].apply(lambda k: frozenset([mapping[i] for i in k])) 
new_df = new_df.reset_index(drop=True)

new_df

     support                                   itemsets
0   0.666667                               (NailPolish)
1   0.500000                                  (Brushes)
2   0.750000                                (Concealer)
3   0.750000                                  (Bronzer)
4   0.416667                                    (Blush)
5   0.500000                      (NailPolish, Brushes)
6   0.416667                    (Concealer, NailPolish)
7   0.583333                      (NailPolish, Bronzer)
8   0.333333                       (Concealer, Brushes)
9   0.416667                         (Brushes, Bronzer)
10  0.583333                       (Concealer, Bronzer)
11  0.333333                         (Concealer, Blush)
12  0.333333           (Concealer, NailPolish, Brushes)
13  0.416667             (NailPolish, Brushes, Bronzer)
14  0.416667           (Concealer, NailPolish, Bronzer)
15  0.333333              (Concealer, Brushes, Bronzer)
16  0.333333  (Concealer, NailPolish, Brushes, Bronzer)

**Problem b)** The following table shows two association rules. They are mined from the original dataset. With the given data in the table.
*   **a)** Explain the “Conf. %” output and how it is calculated.
*   **b)** Explain the “Support(X)”, “Support(Y)” and “Support(X,Y)” output and how it is calculated. 
*   **c)** Explain the “Lift ratio” of the rules in the table and how it is calculated.
*   **d)** Explain these two rules in words without mentioning “Support”,
“Confidence” and “Lift Ratio” these technical terms.

*   **a:** conf% = (Support(X, Y) / Support(X)) * 100 = 62/76 * 100 = 81.57%
*   **b:** Support(X) = 76 transactions for brushes, that means that 76 brushes had to have been bought. Support(Y) is 110 transactuon for brushes, so 110 brushes had to have been bought. Support(X,Y) is equivalent to 62 transactions, so 62 brushes must have been bought. Support(X,Y) bought Nail Polish and 62 times, Support(Y) bought Bronzer and Nail Polish 103 times, Support(X) bought Nail Polish and Bronzer 77 times.
*   **c:** Lift ratio = Confidence / Support(Y)
*   **d:** There is a relationship between the transactions and purchases of specific items.